#footer-wrapper, #features-wrapper {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

#instructions {
	padding-top: 20px;
	text-align: center;
	margin-bottom: 1em;
	font-weight: bold;
}

#gameDiv, #gameDiv > p, #correctGuess, #incorrectGuess, #gameOverMessage, #submitGuessButton {
	margin-bottom: 1em;
	text-align: center;
}

#numPeopleToGuess, #score{
	text-align: left;
}

#gameOverMessage {
	color: red;
	font-size: 20px;
}

#instructions {
	text-align: center;
}

#startGameButton, #submitGuessButton {
	margin-top: 30px;
	display: inline-block;
	padding: 1em 1em 1em 1em !important;
	margin-left: auto;
	margin-right: auto;
}

#submitGuessButtonDiv{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

#faceImage{
	max-width: 100%;
}

.startPageInputs, #homePageGameOptionsForm, #homePageGameOptionsForm > input, .nameGuess{
	width: 300px !important;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}


.loadingSpan{
	text-align: center;
	font-size: 18px;
}

#gameStats {
	position: fixed;
	top: 30%;
}

ul.column {
	float: left;
	padding: 0;
	list-style: none;
	width: 675px;
}
ul.column li {
	background: #fff;
	float: left;
	margin: 25px 0 0 25px;
	display: block;
	text-align: center;
	width: 200px;
	padding:20px;
	border-radius: 2px 2px 2px 2px;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

ul.column li.box10 {
	-webkit-box-shadow: 0 7px 4px #777;
	-moz-box-shadow: 0 7px 4px #777;
	box-shadow: 0 7px 4px #777;
}

#header-wrapper {
	padding-top: 20px;
}

.loading-pane{
	text-align: center;
}