<!-- Features -->
<div id="features-wrapper">
	<section id="features" class="container">
		<header>
			<h2>Ladies and Gentlemen, behold! This is <strong>Name Game</strong>!</h2>
			<h3>Okay, so what is this?</h3>
			<p>Do you ever struggle to remember names?<br>Have no fear, Name Game is here!<br>Use Name Game to put faces to names. <br>You'll be shown faces of your colleagues and you have to guess their names. <br>If you get it wrong, you'll get a little hint.<br>Click Start to start playing.</p>
		</header>	
		{{#link-to 'startGame'}}Start Game{{/link-to}}
	</section>

</div>