<!-- Features -->
<div id="features-wrapper">
	<section id="features" class="container">
		<header>
			<h2>Ladies and Gentlemen, behold!<br> This is <strong>Name Game</strong>!</h2>
			<h3>Okay, so what is this?</h3>
			<p>Do you ever struggle to remember names?<br>Have no fear, Name Game is here!<br>Use Name Game to put faces to names. <br>You'll be shown faces of your colleagues and you have to guess their names. <br>If you get it wrong, you'll get a little hint.<br>Enter your details below to start playing.</p>
		</header>	


		 <form id="homePageGameOptionsForm" {{action "startGame" on="submit"}}>
            {{input label="Who do you work for?" placeholder="Company" value=companyName name="companyNameInput" 				required=true class="startPageInputs"}}
            {{input label="Where do you work?" placeholder="City" value=cityName name="cityNameInput" required=true 				class="startPageInputs"}}
            <div class="form-actions">
	            <input id='startGameButton' name='startGameButton' {{bind-attr disabled=isntValid}} type="submit" class="btn btn-primary" value="Train my memory!">
	        </div>
        </form>

	</section>

</div>