<div class="loading-pane">
    <div class="loading-message">
      <span class="loadingSpan">Finding your colleagues... Please have a cold beer.</span>
      <div class="spinner"></div>
    </div>
  </div>